
/* styles/main.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  display: flex;
  height: calc(100vh - 76px); /* Subtract header height */
}

#toolbar {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#toolbar button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#toolbar button:hover {
  background-color: #555;
}

#canvas-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  border-radius: 4px;
  overflow: hidden;
}

#mindmap-canvas {
  border: none;
  width: 100%;
  height: 100%;
}

#context-menu, #context-menu-on-node {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#context-menu ul, #context-menu-on-node ul{
  list-style-type: none;
}

#context-menu li, #context-menu-on-node li{
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#context-menu li:hover, #context-menu-on-node li:hover{
  background-color: #f7f7f7;
}

header nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

header nav li {
  cursor: pointer;
  transition: color 0.3s ease;
}

header nav li:hover {
  color: #ccc;
}

/* Canvas Placeholder */
#guide-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  color: rgba(128, 128, 128, 0.5);
  pointer-events: none;
  user-select: none;
}

/* Text node input */
.node-input {
  font-family: 'Poppins', sans-serif;
  font-size: 16px; /* Adjust to match the text size of your nodes */
  color: #333; /* Adjust to match the text color of your nodes */
  background-color: #f7f7f7; /* Adjust to match the background color of your nodes */
  padding-inline: 5px; /* Adjust to match the padding of your nodes */
  max-width: 200px; /* Limit the width of the input field */
}

#info-popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease;
}

#close-popup {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

#info-popup.show {
  opacity: 1;
  pointer-events: auto;
}

.pulse {
  animation: pulse-animation 2s infinite;
  transform-origin: center;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 2s ease-in-out;
  z-index: 9999; /* Ensure the loading screen is above all other elements */
}

#loading-screen.hide {
  opacity: 0;
  pointer-events: none;
}

line {
  stroke-dasharray: 100;
  animation: lineAnimation 2s infinite;
}

@keyframes lineAnimation {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
