/* styles/main.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  display: flex;
  height: calc(100vh - 76px); /* Subtract header height */
}

#toolbar {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#toolbar button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

#toolbar button:hover {
  background-color: #555;
}

#canvas-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  border-radius: 4px;
  overflow: hidden;
}

#mindmap-canvas {
  border: none;
  width: 100%;
  height: 100%;
}

.context-menu, #context-menu-on-node {
  display: none;
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.context-menu ul, #context-menu-on-node ul {
  list-style-type: none;
}

.context-menu li, #context-menu-on-node li {
  padding: 5px 10px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.context-menu li:hover, #context-menu-on-node li:hover {
  background-color: #f7f7f7;
}

header nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

header nav li {
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

header nav li:hover {
  color: #ccc;
}

/* Canvas Placeholder */
#guide-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  color: rgba(128, 128, 128, 0.5);
  pointer-events: none;
  user-select: none;
  padding: 20px;
}

/* Text node input */
#input-container {
  position: absolute;
}

.node-input {
  display: none;
  position: relative;
  width: 200px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f7f7f7;
  padding-inline: 5px;
  border: 5px solid #f7f7f7;
}

.node-text {
  word-wrap: break-word;
  line-height: 1.2;
}

.node-input:invalid {
  border-color: red;
}

#input-error {
  display: none;
  position: relative;
  color: red;
  left: 5px;
}

#file-input {
  display: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f7f7f7;
  padding-inline: 5px;
  border: 5px solid #f7f7f7;
}

.modal, #info-popup, #network-status-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#info-popup, #network-status-popup {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  -o-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

#close-popup {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

#info-popup.show {
  opacity: 1;
  pointer-events: auto;
}

#info-mobile-content {
  display: none;
}

#loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pulse {
  -webkit-animation: pulse-animation 2s infinite;
  -moz-animation: pulse-animation 2s infinite;
  animation: pulse-animation 2s infinite;
  transform-origin: center;
}

@-webkit-keyframes pulse-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-moz-keyframes pulse-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  -webkit-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  -o-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
  z-index: 9999; /* Ensure the loading screen is above all other elements */
}


#loading-screen.hide {
  opacity: 0;
  pointer-events: none;
}



line {
  stroke-dasharray: 100;
  -webkit-animation: lineAnimation 2s infinite;
  -moz-animation: lineAnimation 2s infinite;
  animation: lineAnimation 2s infinite;
}

@-webkit-keyframes lineAnimation {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-moz-keyframes lineAnimation {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes lineAnimation {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.modal {
  visibility: hidden; /* Hidden by default */
  z-index: 1001; /* Ensure the modal is above other elements */
  opacity: 0;
  -webkit-transition: opacity 0.8s ease, visibility 0.8s ease;
  -moz-transition: opacity 0.8s ease, visibility 0.8s ease;
  -o-transition: opacity 0.8s ease, visibility 0.8s ease;
  transition: opacity 0.8s ease, visibility 0.8s ease;
}

.modal.show {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.close-button {
  align-self: flex-end;
  cursor: pointer;
  font-size: 20px;
}

.hidden-label {
  display: none;
}

#canvas-placeholder-on-drag {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  border-radius: 5px;
}

#drop-area {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

h1 {
  text-align: center;
  flex-grow: 1;
}

/* Mobile styles */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#info-button {
  display: none;
}

#mobile-toolbar {
  display: none;
}

/* Media queries to show/hide hamburger menu and drawer */
@media only screen and (max-width: 600px) {
  #info-button, #mobile-toolbar, #info-mobile-content, .hamburger {
    display: block;
  }

  #nav-menu, #info-desktop-content {
    display: none;
  }
}

/* Drawer styles */
.drawer {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transform: translateX(-100%);
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  padding-top: 50px;
  z-index: 1000;
}
.drawer ul {
  padding: 0;
}
.drawer li {
  padding: 15px;
  cursor: pointer;
}
.drawer li:hover {
  background-color: #444;
}

/* Open state for the drawer */
.drawer.open {
  transform: translateX(0);
}

#back-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

#back-button:hover {
  background-color: #444;
  cursor: pointer;
}
